{% extends "base.html" %}

{% block content %}

<h2>Register</h2>

<form method="POST">

    <input
        class="form-control mb-3"
        name="name"
        placeholder="Full Name"
        required>

    <input
        class="form-control mb-3"
        name="email"
        type="email"
        placeholder="Email"
        required>

    <input
        class="form-control mb-3"
        name="password"
        type="password"
        placeholder="Password"
        required>

    <button class="btn btn-primary">

        Register

    </button>

</form>

{% endblock %}
