<nav class="navbar bg-white shadow-sm rounded mt-3">

    <div class="container-fluid">

        <span class="navbar-brand fw-bold">

            Dashboard

        </span>

        <div class="d-flex align-items-center">

            <i class="bi bi-bell fs-4 me-4"></i>

            <div>

                <strong>

                    {{ current_user.name }}

                </strong>

                <br>

                <small class="text-muted">

                    Logged In

                </small>

            </div>

        </div>

    </div>

</nav>
