<nav class="navbar bg-white shadow-sm rounded mt-3">

    <div class="container-fluid">

        <span class="navbar-brand fw-bold">

            Dashboard

        </span>

        <div class="d-flex align-items-center gap-3">

            {% if current_user.is_admin %}
            <a href="{{ url_for('admin_dashboard') }}" class="btn btn-warning btn-sm font-monospace fw-bold me-2">
                <i class="bi bi-shield-lock-fill me-1"></i> Admin Portal
            </a>
            {% endif %}

            <i class="bi bi-bell fs-4"></i>

            <div>

                <strong>

                    {{ current_user.name }}

                </strong>

                <br>

                <small class="text-muted">

                    Logged In

                </small>

            </div>

        </div>


    </div>

</nav>
