<div class="card border-0 shadow-sm mb-4">

    <div class="card-body">

        <div class="row">

            <div class="col-md-8">

                <div class="input-group">

                    <span class="input-group-text bg-white">

                        <i class="bi bi-search"></i>

                    </span>

                    <input
                        type="text"
                        class="form-control"
                        placeholder="Search your products...">

                </div>

            </div>

            <div class="col-md-4 mt-3 mt-md-0">

                <select class="form-select">

                    <option>Newest First</option>
                    <option>Lowest Price</option>
                    <option>Highest Rating</option>

                </select>

            </div>

        </div>

    </div>

</div>
